/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fire Cycle */

@font-face {
  font-family: Neucha;
  src: url('Neucha-Regular.ttf');
}

@font-face {
  font-family: Caveat;
  src: url('Caveat-Regular.ttf');
}

@font-face {
  font-family: JFSans-regular;
  src: url('JosefinSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: JFSans-italic;
  src: url('JosefinSans-Italic-VariableFont_wght.ttf')
}

body {
	line-height: 120%;
  background-color: #ffeebf;
  margin: 0;
  font-family: JFSans-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

#root {
  align-self: flex-start;
}

h1 {
  font-size: 400%;
  line-height: 1.5;
  text-align: center;
  font-family: Caveat;
}

h2 {
  font-size: 150%;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2%;
}

p {
  margin-bottom: 2%;
  font-size: 110%;
  text-align: left;
  margin-left: 2%;
}

strong {
  font-weight: 700;
}

em {
  font-family: JFSans-italic;
}

.calendar {
  line-height: 125%;
  font-size: 125%;
}

.event {
  line-height: 200%;
  font-size: 200%;
  font-family: JFSans-italic;
  margin-top: 1%;
  margin-bottom: 1%;
}

.btn {
  margin: auto;
  justify-content: center;
}